*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.cont{
    background-color: #efefef;
    padding: 1rem;
    border-top: 4px solid navy;
    min-width: 20rem;
}

h2{
    text-align: center;
    color: navy;
}
#bookmark-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

input{
    border: none;
    padding: 0.5rem;
}

#add-btn{
    padding: 0.5rem;
    background-color: navy;
    color: white;
    border: none;
}

#bookmark-list{
    gap: 5px;
}

.bookmark a{
    background-color: #d72323;
    color: white;
    padding: 0.4rem;
    border: none;
    text-decoration: none;
}

.bookmark{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    background-color: #fff;
}
