*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cont{
    background-color: #efefef;
    padding: 1rem;
    border-top: 4px solid navy ;
}

h2{
    text-align: center;
    color: navy;
}
#bookmark-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

input{
    border: none;
}

#add-button{
    padding: 1rem;
    background-color: navy;
    color: white;
}

#bookmark-list{
    padding: 1rem;
    gap: 5px;
}

.bookmark button{
    background-color: #d72323;
    color: white;
    padding: 1rem;
}

.bookmark{
    justify-content: space-between;
}
